.scrap-page{

min-height:100vh;

padding:40px;

background:
linear-gradient(
135deg,
#fff3e0,
#ffe0b2
);

}



.scrap-header{

display:flex;

align-items:center;

gap:20px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,0.15);

margin-bottom:35px;

}



.scrap-header svg{

font-size:55px;

color:#e65100;

}



.scrap-header h1{

margin:0;

font-size:32px;

color:#bf360c;

}



.scrap-header p{

color:#555;

}





.dealer-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}




.dealer-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,0.12);

transition:.3s;

}



.dealer-card:hover{

transform:translateY(-8px);

}




.dealer-icon{

font-size:45px;

color:#e65100;

margin-bottom:15px;

}



.dealer-card h2{

color:#bf360c;

font-size:22px;

}



.dealer-card p{

display:flex;

justify-content:center;

align-items:center;

gap:8px;

color:#555;

}



.waste-box{

background:#fff8e1;

padding:15px;

border-radius:12px;

margin:20px 0;

color:#444;

}



.phone{

font-weight:bold;

}




.dealer-card button{

width:100%;

padding:12px;

border:none;

border-radius:12px;

background:#e65100;

color:white;

font-size:16px;

cursor:pointer;

}



.dealer-card button:hover{

background:#bf360c;

}