.ai-page{

min-height:100vh;

background:
linear-gradient(
135deg,
#e8f5e9,
#c8e6c9
);

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}



.ai-card{

width:650px;

background:#ffffff;

border-radius:25px;

padding:40px;

box-shadow:
0 15px 35px rgba(0,0,0,0.18);

}



.ai-header{

display:flex;

align-items:center;

gap:20px;

margin-bottom:30px;

color:#146c43;

}



.ai-header svg{

font-size:50px;

}



.ai-header h2{

font-size:28px;

margin:0;

}



.ai-header p{

color:#555;

}



.upload-container{

text-align:center;

}



.upload-box{

height:200px;

border:3px dashed #198754;

border-radius:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#f6fff8;

cursor:pointer;

transition:.3s;

}



.upload-box:hover{

background:#e8f5e9;

}



.upload-box svg{

font-size:45px;

color:#198754;

margin-bottom:15px;

}



.upload-box input{

display:none;

}



.image-preview{

margin-top:25px;

width:230px;

height:230px;

object-fit:cover;

border-radius:20px;

box-shadow:
0 8px 20px rgba(0,0,0,.2);

}



.classify-btn{

margin-top:30px;

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#198754;

color:white;

font-size:18px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

}



.classify-btn:hover{

background:#146c43;

}



.result-card{

margin-top:30px;

padding:25px;

background:#f1fff4;

border-radius:20px;

text-align:center;

border-left:6px solid #198754;

}



.result-card h2{

color:#198754;

}



.result-card button{

padding:12px 20px;

margin:10px;

border:none;

border-radius:10px;

background:#198754;

color:white;

cursor:pointer;

}



.result-card button:hover{

background:#146c43;

}