.recycling-page{

min-height:100vh;

padding:40px;

background:
linear-gradient(
135deg,
#e8f5e9,
#c8e6c9
);

}



.recycling-header{

display:flex;

align-items:center;

gap:20px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,0.15);

margin-bottom:35px;

}



.recycling-header svg{

font-size:55px;

color:#198754;

}



.recycling-header h1{

margin:0;

font-size:32px;

color:#146c43;

}



.recycling-header p{

color:#555;

}




.center-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}




.center-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,0.12);

transition:.3s;

}



.center-card:hover{

transform:translateY(-8px);

}




.center-icon{

font-size:45px;

color:#198754;

margin-bottom:15px;

}



.center-card h2{

color:#146c43;

font-size:22px;

}



.center-card p{

display:flex;

justify-content:center;

align-items:center;

gap:8px;

color:#555;

}



.center-card span{

display:block;

background:#f1fff4;

padding:15px;

border-radius:12px;

margin:20px 0;

color:#333;

}




.center-card button{

width:100%;

padding:12px;

border:none;

border-radius:12px;

background:#198754;

color:white;

font-size:16px;

cursor:pointer;

}



.center-card button:hover{

background:#146c43;

}