.route-map-page{

padding:30px;

background:#f4fff4;

min-height:100vh;

}


.route-map-page h1{

color:#1b5e20;

font-size:32px;

margin-bottom:20px;

}



.route-map-page h3{

color:#333;

margin-bottom:20px;

}



.leaflet-container{

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.15);

}